.make-this-dang-icon-blue {
    color: blue;
}

.mark.a0 {
    color: black;
    padding: 5px;
    background: yellow;
}
lightning-input {
    --slds-c-input-radius-border: 3rem;
}

.optionsHeader {
    font-size: 16px;
    color: #8B1D1E;
}

.bodyClass {
    color: #535659;
}

.dot {
    height: 15px;
    width: 15px;
    border: 1.35px solid lightgray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    background-color: white;
}

.dot svg {
    color: white;
    padding: 4px;
    margin-top: -4px;
    margin-left: -1px;
}

.rowPadding {
    padding-left: 10px;
    padding-right: 10px;
}

.sortArrow {
    height: 17px;
    fill: #bbbbbb;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 50px solid white;
    margin-top: -32px;
}

.inputSearch {
    --slds-c-input-color-border: #dbdbdb;
}

.svgBgWhite {
    background-color: white;
}

.svgBgRed {
    background-color: #8B1C1D;
}