.alert-section {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 4px;
}
.alert-icon{
    margin-right: 0.5rem;
    color: #FFB74D;

}
.alert-message{
    
    font-size: 0.875rem;
}
.yellow-utility-icon {
    --sds-c-icon-color-foreground-default: #F38303;
    }
    .yellowtext{
        color: var(--Vibrant-Orange-65, #F38303);
    }