.custom-link {
    font-size: 13px;
    color: black;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 9999;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modalBody {
    margin-bottom: 10px;
}

pre {
    display: inline;
}

.container {
    display: flex;
    justify-content: flex-end;
}
.div1{
    color: rgb(17, 17, 17); 
    font-size:12px;
}
.div2{
    white-space: pre-line; 
    font-size:12px;
}