/*.custom-combobox-label {
  font-weight: bold;
  font-size: 0.938rem !important;
}*/

/*.dataTable .slds-grid {
  display:block;
}*/

/*.searchInput{
  /*margin-left: 56rem;
  position:relative;
  float: right;
  justify-content: right;
  display: inline-flex;
}*/
.custom_center{
  font-size: 20px;
  color: rgb(34, 29, 107);
  font-weight: bold;
}
.Border{
  border :solid 3px rgb(172, 19, 19);
}
.table-buttons {
    position: center;
    left: 20%;
    width: 250px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
    border-radius: 12px;
    background-color: lightblue;
    --slds-c-button-brand-color-background: lightblue;
    --slds-c-button-brand-color-border: lightblue;
    --slds-c-button-brand-text-color: black;
}
.card{
  background: rgb(155, 155, 155);
}
.divColor{
  background-color: #eeeeee;
}

table {
  border-spacing: 0;
  width: 100%;
}
 
table, th, td {
  border: 1px solid #ddd;
  /* border-radius: 8px; */
}
 
th, td {
  /* padding: 10px; */
  text-align: left;
}


.custom-table::part(column-header) {
  /* white-space: nowrap; Allow text to wrap */
   /* word-wrap: break-word; */
   text-align: center; /* Center text */
   display: none;
   height: 100px;
   background-color: black;
 }
 

.slds-th__action-button {
  display: none !important; /* Forces chevron to be hidden */
}