.make-this-dang-icon-blue {
    color: blue;
}
.mark.a0 { 
    color: black; 
    padding: 5px; 
    background: yellow; 
}
.customTablCSS {
    border: 1.4px solid #dbdbdb;

}

.customTablCSS tr:nth-child(even) {
    background-color: #f1f1f1;
    border-collapse: collapse;
}

.customTablCSS thead th {
    line-height: 4ch;
    background-color: #ffffff;    
    border-top: 0.3px solid #ccc;
    border-bottom: 0.3px solid #ccc;
    border-right: 0.3px solid #dbdbdb !important;
    padding-left:5px;
    padding-right:5px;
    
    text-align: left;
    font-weight: inherit;
    cursor: pointer;

    position: sticky; 
    top: 0;
    
    
}
th {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.customTablCSS td {
    border: 1.4px solid #dbdbdb;
    text-align: left;
    padding: 0px;
}


.customTablCSS th:nth-child(even) {    
    border-collapse: collapse;
    border-right: 1px solid #dbdbdb;
}

lightning-input {
    --slds-c-input-radius-border: 3rem; 
}

.bodyClass{
    font-size: 13px;
    color: #535659;    
}

.dot {
    height: 20px;
    width: 20px;
    border: 1.35px solid lightgray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    
  }

.dot svg{
    color: white;    
    padding: 2px;
    margin-top: 1px;
    margin-left: 1px;
}

.rowPadding {
    padding-left:5px;
    padding-right:5px;
}

.sortArrow {
    height: 10px;;
    fill:#bbbbbb;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
    border-top: 50px solid white;
    margin-top: -32px;
}

.inputSearch{
    --slds-c-input-color-border: #dbdbdb;
    border-radius: 50px; 
    border-color:#dbdbdb
}

.innerColumn {
    border-bottom: 1px solid #ccc;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;

}

div.innerColumn:last-child{
    border-bottom: 0px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px; 
}

.columnTitleCursor{
    cursor: default !important;
}
.customTablCSS:last-child{
    border-right: none;
}

.siteSearchBar{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    vertical-align: center;
}

.orText{
    color: #0542ab !important; 
    font-size: 14px !important;
    padding-top: 10px ;
    padding-left: 10px ;
    padding-right: 10px ;
}

.optionsHeader {
    font-weight: bold;
    display: inline-block;
}
.optionClear{
    padding-left: 15px;
    display: inline-block;
}
.result{
    overflow: auto;
}
.layoutbg{
   background-color:#ffffff;

}
.codeRow{
    width:110px;
}
.nameRow{
    max-width: 300px;
    min-width:200px; 
    word-wrap: break-word;
    text-wrap: wrap;
}
.top-padding {
    padding-top: 7px; /* CC-651 */
}